<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bunifu.Charts.WinForms" version="1.1.1" targetFramework="net461" />
  <package id="Bunifu.Dataviz.WinForms" version="2.1.6" targetFramework="net461" />
  <package id="Bunifu.UI.WinForms" version="5.0.7" targetFramework="net461" />
</packages>